body {
  margin: 0;
  padding:0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100vw;
  height:100vh;
  color:#F9FF8A;
}
.app{
  
  
}

#Container {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  background: #FF3D56;
  padding: 1rem;
  margin:auto;
  border-radius:1rem;
  width:50%;
  height:50%

}
button {
  background:#F9FF8A;
  padding:0.5rem 2rem;
  border-radius: 1.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
